
@font-face {
  font-family: 'Aver';
  src: url('../fonts/Aver.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aver.woff') format('woff'), url('../fonts/Aver.ttf')  format('truetype'), url('../fonts/Aver.svg#Aver') format('svg');
  font-weight: normal;
  font-style: normal;
}
